<% provide(:title,"Help") %>
<!DOCTYPE html>
<html>
<head>
<title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
</head>
<body>
<h1>Help for Ruby on Rails Tutorial</h1>

<a href="http://www.railstutorial.org/help">Rails Tutorial help page</a>
</p>
</body>
</html>


