<!DOCTYPE html>
<html>
<head>
	<title>Datecs bar</title>
</head>
<body>
<style>
body {
	color: #ccffff;
	background-color: #ccffff;
    background-attachment: fixed;
}
div {
	color:#004280;
}
</style>
<div>
<h1>Foo#bar for Datecs</h1>
<p>Find me in app/views/foo/bar.html.erb</p>
</div>
</body>
</html>

