<!DOCTYPE html>
<head> 
<title>Foo #baz for Datecs</title>
</head>
<body>
<style>
h1 {
	color: blue;
	background-color: #e6f3ff
}
body {
	background-color: #ccccff;
}
</style>
<h1>Foo#baz for Datecs</h1>
<p>Find me in app/views/foo/baz.html.erb</p>
</body>
</html>